[data-md-color-scheme="MiSTer"] {
  --md-default-fg-color: #f8f8f2;
  --md-default-fg-color--light: #f8f8f28a;
  --md-default-fg-color--lighter: #f8f8f252;
  --md-default-fg-color--lightest: #f8f8f212;

  --md-default-bg-color: #282a36;
  --md-default-bg-color--light: #282a368a;
  --md-default-bg-color--lighter: #282a3652;
  --md-default-bg-color--lightest: #282a3612;

  --md-primary-fg-color: #514689;
  --md-primary-fg-color--light: #5146898a;
  --md-primary-fg-color--lighter: #51468952;
  --md-primary-fg-color--lightest: #51468912;

  --md-accent-fg-color: #e277af;

  --md-code-fg-color: #f8f8f2;
  --md-code-bg-color: #282a36;
  --md-code-hl-color: #f1fa8c;
  --md-code-hl-number-color: #bd93f9;
  --md-code-hl-special-color: #db1457;
  --md-code-hl-function-color: #a846b9;
  --md-code-hl-constant-color: #6e59d9;
  --md-code-hl-keyword-color: #ff79c6;
  --md-code-hl-string-color: #1c7d4d;
  --md-code-hl-name-color: #8be9fd;
  --md-code-hl-operator-color: var(--md-code-hl-keyword-color);
  --md-code-hl-punctuation-color: var(--md-code-fg-color);
  --md-code-hl-comment-color: #6272a4;
  --md-code-hl-generic-color: #f8f8f28a;
  --md-code-hl-variable-color: var(--md-code-h1-generic-color);

  --md-typeset-color: var(--md-default-fg-color);
  --md-typeset-a-color: #a7a4e0;
  --md-typeset-mark-color: #8be9fd4d;
  --md-typeset-kbd-color: #edeef21f;
  --md-typeset-kbd-accent-color: #edeef233;
  --md-typeset-kbd-border-color: #1e2029;
  --md-typeset-table-color: #e9ebfc1f;

  --md-admonition-fg-color: var(--md-default-fg-color);
  --md-admonition-bg-color: var(--md-default-bg-color);

  --md-footer-bg-color: #514689de;
  --md-footer-bg-color--dark: #51468952;

  --md-shadow-z1: 0 0.2rem 0.5rem #00000033, 0 0 0.05rem #0000001a;
  --md-shadow-z2: 0 0.2rem 0.5rem #0000004d, 0 0 0.05rem #00000040;
  --md-shadow-z3: 0 0.2rem 0.5rem #00000066, 0 0 0.05rem #00000059;
}
