name: ci
on:
  push:
    branches:
      - main

jobs:
  deploy:
    name: Build documentation
    runs-on: ubuntu-latest
    steps:
      - name: Checkout main branch
        uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: "Set up Python"
        uses: actions/setup-python@v6
        with:
          python-version-file: ".python-version"

      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          version: "0.9.17"

      - name: Install Python
        run: uv python install

      - name: Download videos branch and unzip
        run: |
          wget https://codeload.github.com/MiSTer-devel/MkDocs_MiSTer/zip/refs/heads/videos || exit 1
          unzip videos || exit 1
          cd MkDocs_MiSTer-videos/ || exit 1
          cp -r docs ../ || exit 1

      - name: Enable caching
        uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true

      - name: Install Python Dependencies
        run: |
          uv sync --locked --all-extras

      - name: Deploy Documentation
        run: |
          uv mkdocs gh-deploy --force
          uv mkdocs --version
